// LIGHT MODE COLORS

// Backgrounds
$l-bg-main: #f7f7fb;
$l-bg-card: #ffffff;

// Primary
$l-color-primary: #7c7cff;
$l-color-primary-light: #a5a6ff;

// Text
$l-text-main: #2d2d2f;
$l-text-secondary: #6b6b75;

// Borders
$l-border: #e6e6ef;

// States
$l-success: #7ed6a5;
$l-danger: #ff8a8a;

// Shadow
$l-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);

// DARK MODE COLORS

// Backgrounds
$d-bg-main: #1e1f25;
$d-bg-card: #2a2c35;

// Primary
$d-color-primary: #8f90ff;
$d-color-primary-light: #b3b4ff;

// Text
$d-text-main: #f1f1f5;
$d-text-secondary: #a1a1aa;

// Borders
$d-border: #3a3c45;

// States
$d-success: #7ed6a5;
$d-danger: #ff8a8a;

// Shadow
$d-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);

// Colors pallet for theme switcher

$l-label-linear-gradiend: linear-gradient(
  20deg,
  rgba(118, 150, 191, 1) 0%,
  rgba(185, 208, 225, 1) 50%,
  rgba(223, 224, 208, 1) 100%
);
$l-circle-radial-gradient: radial-gradient(
  circle,
  rgba(47, 56, 68, 1) 0%,
  rgba(22, 32, 48, 1) 100%
);
$d-label-linear-gradiend: linear-gradient(
  197deg,
  rgba(145, 150, 151, 1) 0%,
  rgba(20, 31, 47, 1) 100%
);
$d-circle-radial-gradient: radial-gradient(
  circle,
  rgba(225, 206, 153, 1) 0%,
  rgba(228, 199, 122, 1) 100%
);
$l-dark-clound-bg: rgb(230, 230, 230);
$d-dark-clound-bg: rgb(230, 230, 230);

$l-light-clound-bg: #ffffff;
$d-light-clound-bg: #ffffff;

$l-circle-border: #fefcf4;
$d-circle-border: #fefcf4;

:root {
  --bg-main: #{$l-bg-main};
  --bg-card: #{$l-bg-card};

  --color-primary: #{$l-color-primary};
  --color-primary-light: #{$l-color-primary-light};

  --text-main: #{$l-text-main};
  --text-secondary: #{$l-text-secondary};

  --border: #{$l-border};

  --success: #{$l-success};
  --danger: #{$l-danger};

  --shadow: #{$l-shadow};
  --label-linear-gradiend: #{$l-label-linear-gradiend};
  --circle-radial-gradient: #{$l-circle-radial-gradient};
  --light-clound-bg: #{$l-light-clound-bg};
  --dark-clound-bg: #{$l-dark-clound-bg};
  --circle-border: #{$l-circle-border};
}
[data-theme="dark"] {
  --bg-main: #{$d-bg-main};
  --bg-card: #{$d-bg-card};

  --color-primary: #{$d-color-primary};
  --color-primary-light: #{$d-color-primary-light};

  --text-main: #{$d-text-main};
  --text-secondary: #{$d-text-secondary};

  --border: #{$d-border};

  --success: #{$d-success};
  --danger: #{$d-danger};

  --shadow: #{$d-shadow};

  --label-linear-gradiend: #{$d-label-linear-gradiend};
  --circle-radial-gradient: #{$d-circle-radial-gradient};
  --light-clound-bg: #{$d-light-clound-bg};
  --dark-clound-bg: #{$d-dark-clound-bg};
  --circle-border: #{$d-circle-border};
}
