@use "../abstracts/index" as abstracts;

.main {
  &__tasks {
    display: flex;
    flex-direction: column;
  }
  .task-list {
    &__item {
      // container of task
      width: 100%;

      @include abstracts.flex(column, unset, unset);

      margin-bottom: 1rem;
      padding: 1rem;

      border-radius: 1rem;

      border: 1px solid var(--border);
      transition:
        border 0.3s linear,
        box-shadow 0.3s linear;

      box-shadow: var(--shadow);
      // transition: box-shadow 0.3s linear;
    }
    &__main {
      // part with checkbox and label and controls buttons
      @include abstracts.flex(row, space-between, start);
    }
    &__info {
      // part with checkbox and label
      @include abstracts.flex(row, unset, start);
    }
    &__text {
      // label
      cursor: pointer;
      word-break: break-word;

      color: var(--text-main);
      transition: color 0.3s ease-in-out;
    }
    &__controls {
      // buttons edit and delete
      margin-left: 1rem;

      @include abstracts.flex(row, unset, unset);

      position: relative;
      .btn {
        @include abstracts.flex(row, center, center);
        width: 25px;
        height: 25px;
        padding: 0.15rem;
        border-radius: 50%;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
        &:nth-of-type(1) {
          margin-right: 0.5rem;
        }
        &.show {
          // display: flex;
          visibility: visible;
        }

        @include abstracts.mediaQueryUp(abstracts.$largerScreens) {
          display: flex;
        }
        @include abstracts.mediaQueryDown(abstracts.$smallerScreens) {
          // display: none;
          visibility: hidden;
          position: absolute;
          z-index: 1;

          &:nth-of-type(1) {
            top: -25px;
            left: 0px;
          }
          &:nth-of-type(2) {
            top: -25px;
            left: -35px;
          }
        }
      }

      .menu-dots {
        width: 25px;
        height: 25px;
        cursor: pointer;
        @include abstracts.mediaQueryUp(abstracts.$largerScreens) {
          display: none;
        }
        @include abstracts.mediaQueryDown(abstracts.$smallerScreens) {
          display: block;
        }
      }
    }
    &__edit {
      @include abstracts.flex(row, space-between, unset);
      margin-top: 1rem;

      .save-changes {
        @include abstracts.flex(unset, center, center);
        width: 25px;
        height: 25px;
        padding: 0.15rem;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
      .cancel-changes {
        @include abstracts.flex(unset, center, center);
        width: 25px;
        height: 25px;
        padding: 0.15rem;
        border-radius: 50%;
      }
      img {
        display: block;
        width: 20px;
        height: 20px;
      }
    }
  }
}
