@use "../absracts/index" as absracts;
%positionning {
  position: absolute;
}
%transition-transform-4s {
  transition: transform 0.4s ease-in-out;
}
%transition-transform-3s {
  transition: transform 0.3s ease-in-out;
}

.header {
  margin-bottom: 2rem;
  @include absracts.flex(row, space-between, center);
  &__title {
    color: var(--text-main);
    transition: color 0.3s ease-in-out;
    @include absracts.mediaQueryUp(absracts.$largerScreens) {
      font-size: 2.5rem;
    }
    @include absracts.mediaQueryDown(absracts.$smallerScreens) {
      font-size: 1.75rem;
    }
  }
}
.theme-toggle {
  &--input {
    position: absolute;
    opacity: 0;
    &:focus-visible + label {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }
  }
  &--label {
    width: 100px;
    height: 45px;
    background: var(--label-linear-gradiend);
    border-radius: 35px;
    @include absracts.flex(unset, start, center);
    padding: 0 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
  }
  .label {
    &--circle {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1px solid var(--circle-border);
      z-index: 4;
      @include absracts.flex(unset, center, center);
      @extend %transition-transform-3s;
      background: var(--circle-radial-gradient);
      &-img {
        width: 50%;
      }
      [data-theme="dark"] & {
        transform: translateX(55px);
      }
    }
  }
}

.sun {
  width: 15px;
  height: 15px;
  background-color: rgb(249, 249, 38);
  box-shadow: 0 0 15px 15px rgb(249, 249, 38);
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: -5px;
  right: 20px;
  @extend %transition-transform-3s;
}
[data-theme="dark"] .sun {
  transform: translateY(-50px);
}

.lm {
  @extend %positionning;
  border-radius: 50%;
}
.lm-cloud1,
.lm-cloud2 {
  z-index: 2;
  background-color: var(--dark-clound-bg);
}
.lm-cloud3,
.lm-cloud4 {
  z-index: 3;
  background-color: var(--light-clound-bg);
}
.lm-cloud1 {
  width: 50px;
  height: 50px;
  bottom: -15px;
  right: -7px;
  transform: translateY(0);
  @extend %transition-transform-4s;
}
.lm-cloud2 {
  width: 35px;
  height: 35px;
  bottom: -15px;
  right: 25px;
  transform: translateY(0);
  @extend %transition-transform-4s;
}
.lm-cloud3 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  bottom: -10px;
  right: 25px;
  transform: translateY(0);
  @extend %transition-transform-3s;
}
.lm-cloud4 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  bottom: -15px;
  right: -10px;
  transform: translateY(0);
  @extend %transition-transform-3s;
}
[data-theme="dark"] .lm-cloud1,
[data-theme="dark"] .lm-cloud2 {
  transform: translateY(50px);
}
[data-theme="dark"] .lm-cloud3,
[data-theme="dark"] .lm-cloud4 {
  transform: translateY(50px);
}
.dm {
  @extend %positionning;
  border-radius: 50%;
}
.dm-cloud1,
.dm-cloud2 {
  z-index: 2;
  background-color: var(--dark-clound-bg);
}
.dm-cloud3,
.dm-cloud4 {
  z-index: 3;
  background-color: var(--light-clound-bg);
}

.dm-cloud1 {
  width: 50px;
  height: 50px;
  left: 0px;
  bottom: -10px;
  transform: translateY(55px);
  @extend %transition-transform-4s;
}
.dm-cloud2 {
  width: 45px;
  height: 45px;
  left: 40px;
  bottom: -15px;
  transform: translateY(55px);
  @extend %transition-transform-4s;
}
.dm-cloud3 {
  width: 35px;
  height: 35px;
  left: 35px;
  bottom: -15px;
  transform: translateY(55px);
  @extend %transition-transform-3s;
}
.dm-cloud4 {
  width: 45px;
  height: 45px;
  left: 2px;
  bottom: -15px;
  transform: translateY(55px);
  @extend %transition-transform-3s;
}
[data-theme="dark"] .dm-cloud1,
[data-theme="dark"] .dm-cloud2 {
  transform: translateY(0);
}
[data-theme="dark"] .dm-cloud3,
[data-theme="dark"] .dm-cloud4 {
  transform: translateY(0);
}
