@use "../abstracts/index" as abstracts;
.main {
  &__task-navigation {
    width: 100%;

    margin-bottom: 2rem;
    nav {
      @include abstracts.flex(row, space-around, center);
    }
    ul {
      width: 100%;
      @include abstracts.flex(row, space-around, center);
      flex-wrap: wrap;
    }
    .btn {
      border: 0;
      border-radius: 1rem;
      border: 2px solid var(--color-primary-light);
      color: white;
      transition: border 0.1s ease-in-out;
      cursor: pointer;
      @include abstracts.mediaQueryUp(abstracts.$largerScreens) {
        padding: 0.5rem 1.5rem;
      }
      @include abstracts.mediaQueryDown(abstracts.$smallerScreens) {
        padding: 0.5rem 1.25rem;
      }
    }
    .active-nav-btn {
      border: 2px solid var(--attention);
      .dark & {
        border-color: var(--attention);
      }
    }
  }
}
