@use "../abstracts/index" as abstracts;

input[type="checkbox"] {
  width: 25px;
  height: 25px;

  @include abstracts.flex(unset, center, center);
  flex-shrink: 0;

  margin-right: 0.5rem;
  padding: 0.25rem;

  border: 1px solid var(--color-primary);
  border-radius: 50%;

  background-image: none;

  cursor: pointer;
  appearance: none;

  transition: background-color 0.3s ease-in-out;

  &:checked {
    background-image: url("../../../assets/images/tick.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    & + label {
      text-decoration: line-through;
      color: grey;
    }
  }
  &:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }
}
