@use "../abstracts/index" as abstracts;
@font-face {
  font-family: "Funnel Sans", sans-serif;
  src: url("../../assets/fonts/Funnel_Sans/FunnelSans-VariableFont_wght.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Funnel Sans", sans-serif;
  @include abstracts.flex(unset, center, start);
  background-color: var(--bg-main);
  transition: background-color 0.3s ease-in-out;
}
li {
  list-style-type: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
input {
  cursor: text;
  background-color: transparent;
  border: 0;
}
a {
  text-decoration: none;
}
